<h4> List of URLS </h4>
<% if @new_url == false %>
  <h2>URL not valid</h2>
<% end %>

<form action='/urls' method='post'>
  <h5>Enter a new URL here:
    <input type="text" name="new_url" value="http://www.">
    <input type="submit" value="Submit!">
  </h5>
</form>

<table>
<tr><th>Long</th><th>Short</th></tr>
<% @all_the_urls.each do |the_url| %>
<tr><td><%= the_url.long %></td> <td><%=the_url.short %></td> </tr>
<% end %>
</table>